/* Variable Declarations and Default Settings */

:root {
  --darkblue: #0b0c10;
  --mediumblue: #212833;
  --lightteal: #67fcf1;
  --mediumteal: #46a29e;
  /* --darkteal: #14A697; */
  --grey: #c5c6c7;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Encode Sans', sans-serif;
}

section {
  padding: 1.25em;
}

a:link,
a:visited {
  text-decoration: none;
}

/* .section_title {
  color: var(--darkblue);
  font-size: 2em;
  border-right: 0.31em solid var(--darkblue);
  flex: 0 20%;
  padding-right: 1vw; 
  text-align: right;
} */
/* Navbar Styles */

.nav-link {
  color: var(--lightteal) !important;
  opacity: 0.6;
}
.navbar-nav {
  background-color: transparent;
  align-content: flex-end;
}

.navbar-nav ul {
  align-content: flex-end;
}

.navbar-nav li {
  padding-left: 1em;
  align-self: flex-end;
}

.navbar-nav a {
  font-size: 1.2em;
  /* border-bottom: 0.18em solid var(--darkgreen); */
  color: var(--white);
  padding: 1em;
}

.navbar-nav a:hover {
  color: var(--grey);
  background-color: var(--lightblue);
}

#navbar-title {
  font-size: 2.3em;
  font-weight: 800;
  text-align: center;
  color: var(--lightteal);
  margin: 0 auto;
}

.navbar-brand {
  white-space: normal;
}

/* Banner Styles */
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/tech.jpeg);
  background-size: cover;
  z-index: -99;
}

.content-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15vh;
}

.content {
  text-align: center;
}

.banner h2 {
  padding: 0.4em;
  font-size: 1.8em;
  color: var(--white);
}

#logo {
  padding: 1em;
  margin-bottom: 1em;
  --animate-delay: 1.5s;
  --animation-duration: 16s;
}

/* About Me Styles */

.bio {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkblue);
  color: var(--lightteal);
  text-align: center;
}

.my-bio {
  flex-direction: row;
  padding-left: 1em;
  flex: 2 80%;
  font-size: 1em;
  display: flex;
}

.bio p {
  flex: 1 70%;
  color: var(--grey);
}

/* Portfolio Styles */
.portfolio {
  display: flex;
  color: var(--lightteal);
  background-color: var(--mediumblue);
}

.my_portfolio {
  margin-bottom: 1vh;
  padding-left: 1.25em;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: start;
}

.thumbnail {
  position: relative;
  border: solid 0.31 var(--lightblue);
  padding-bottom: 1.5em;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 10%;
  width: 47%;
  color: var(--grey);
  background-color: var(--lightblue);
}

/* Contact Styles */
.contact {
  display: flex;
  justify-content: space-between;
  background-color: var(--mediumblue);
  color: var(--grey)
}

address {
  display: flex;
}

.copyright {
  margin-left: 1em;
  font-size: 1.3em;
}

address > a {
  margin: 0 3vw;
  font-size: 1em;
  text-decoration: none;
  border-bottom: 0.3em solid var(--darkblue);
  color: var(--darkblue);
  align-self: end;
}

/* Bootstrap */
.card {
  text-align: center;
  margin-bottom: 1.2em;
  background-color: var(--grey);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



.card-img-top {
  /* width: 95%; */
  object-fit: cover;
}

.card-img-top-secondary {
  width: 40%;
  object-fit: cover;
}

.row {
  padding-bottom: 2vh;
}

.contact-icon {
  font-size: 5em;
  color: var(--lightteal);
  padding: 1em, 1em;
}

.section_title {
  text-align: center;
  padding: 1em 0;
}

h5,
h6 {
  color: var(--mediumblue);
  font-weight: 700;
}

p {
  color: var(--mediumteal);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .row{
    padding-bottom: 0;
  }

  .contact-icon {
    font-size: 3em;
    color: var(--lightteal);
    padding: 1em, 1em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
